<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="uiCultureConfigurationSection" 
             type="FolderListener.Configurations.UICulture.UICultureConfigurationSection, FolderListener"/>
    <section name="folderListenerConfigurationSection" 
             type="FolderListener.Configurations.FolderListenerRules.FolderListenerConfigurationSection, FolderListener"/>
    <section name="watchFolderConfigurationSection" 
             type="FolderListener.Configurations.WatchFolders.WatchFolderConfigurationSection, FolderListener"/>
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  

  <uiCultureConfigurationSection>
    <uiCultures>
      <culture name="ru-RUS"></culture>
      <culture name="eng-BR"></culture>
    </uiCultures>
  </uiCultureConfigurationSection>
  
  <watchFolderConfigurationSection>
    <folders>
      <folder name="films" path="D:\CDP\.net_tasks\Week_4\TestFolder\films"></folder>
      <folder name="music" path="D:\CDP\.net_tasks\Week_4\TestFolder\music"></folder>
    </folders>
    <defaultFolder name="default" path="D:\CDP\.net_tasks\Week_4\TestFolder\default"></defaultFolder>
  </watchFolderConfigurationSection>
  
  <folderListenerConfigurationSection>
    <rules>
      <rule template="^.*\.(avi|AVI|wmv|WMV|flv|FLV|mpg|MPG|mp4|MP4)$" destinationFolder="D:\CDP\.net_tasks\Week_4\TestFolder\films"></rule>
      <rule template="^.*\.(mp3|wav)$" destinationFolder="D:\CDP\.net_tasks\Week_4\TestFolder\music"></rule>
    </rules>
  </folderListenerConfigurationSection>
</configuration>