<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="folderListenerConfigurationSection"
             type="FolderListener.Configurations.FolderListenerConfigurationSection, FolderListener"/>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <folderListenerConfigurationSection applicationLanguage="en-US">
    <folders>
      <folder name="films" path="D:\CDP\.net_tasks\Week_4\TestFolder\films"></folder>
      <folder name="music" path="D:\CDP\.net_tasks\Week_4\TestFolder\music"></folder>
      <folder name="presentations" path="D:\CDP\.net_tasks\Week_4\TestFolder\presentations"></folder>
      <folder name="documents" path="D:\CDP\.net_tasks\Week_4\TestFolder\documents"></folder>
      <folder name="default" path="D:\CDP\.net_tasks\Week_4\TestFolder\default"></folder>
    </folders>
    <defaultFolder name="default" path="D:\CDP\.net_tasks\Week_4\TestFolder\default"></defaultFolder>
    <ignoreTemplates>
      <ignore template="^~"></ignore>
    </ignoreTemplates>
    <rules>
      <rule template="^.*\.(avi|AVI|wmv|WMV|flv|FLV|mpg|MPG|mp4|MP4)$" destinationFolder="D:\CDP\.net_tasks\Week_4\TestFolder\films"></rule>
      <rule template="^.*\.(mp3|wav)$" destinationFolder="D:\CDP\.net_tasks\Week_4\TestFolder\music"></rule>
      <rule template="^.*\.(doc|docx|txt|rtf)$" destinationFolder="D:\CDP\.net_tasks\Week_4\TestFolder\documents" nameChangeRule="LastModifyDate"></rule>
      <rule template="^.*\.(pptx)$" destinationFolder="D:\CDP\.net_tasks\Week_4\TestFolder\presentations" nameChangeRule="SerialNumber"></rule>
    </rules>   
  </folderListenerConfigurationSection>
</configuration>