<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="converterConfigs" type="SQLTableToCSConvertUtility.Configuration.ConverterConfigurationSection, SQLTableToCSConvertUtility"/>
  </configSections>

  <converterConfigs domainNamespace="ORMSample.Domain"  
                    sqlFilesPath="D:\CDP\.net_tasks\Week_7\ORMSample\Northwind\dbo\Tables" 
                    outputFilesPath="D:\CDP\.net_tasks\Week_7\ORMSample\out\">
  </converterConfigs>
</configuration>